@use '../App.scss';

nav {
    //border: solid red;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: App.$primary2;
    color: App.$white;
    z-index: 100;

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;

        li {
            margin-left: 1em;

            a {
                text-decoration: none;
                color: App.$white;
            }

            button {
                font-family: App.$sub-text;
                font-weight: bold;
            }
        }

    }
}